/* Imports */
@import url("base.css");
@import url("header.css");
@import url("search.css");


/* Reusable content wrapper */
.content-wrapper {
    margin-left: 4rem;
    margin-right: 16rem;
}

/* Intro section */
.section.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.section.intro h1 {
    font-size: 5rem;
    line-height: 1;
}

.visual-button-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

.visual-button {
    padding: 0.5rem 0.5rem;
    border: 2px solid white;
    background-color: inherit;
    color: inherit;
    border-radius: 12px;
    font-family: inherit;
    transition: all 0.2s ease-in-out;
}

.visual-button:hover {
    background-color: white;
    color: black;
}

.visual-button.active {
    background-color: white;
    color: black;
}

/* Section for graph config with years */
.year-input-group {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 1.3rem;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  min-width: 250px;
}

.year-input-group h3 {
  margin-bottom: 0.5rem;
  color: inherit;
}

.year-input-group p {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 0.5rem;
  font-style: italic;
}


.year-input-group input[type="number"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #850b0b;
  border-radius: 8px;
  width: 100%;
  background-color: inherit;
  color: white;
}

.year-input-group input:focus {
  outline: none;
}

/* Styling for charts container */
#charts-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
