<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Names | Fastest Growing</title>
</head>
<body>
    <h1>Find the fastest-growing names</h1>

    <form method="post">
        <label>From year:</label>
        <input type="number" name="year_from" required>
        <label>To year:</label>
        <input type="number" name="year_to" required>
        <button type="submit">Show growth</button>
    </form>

    {% if feilmelding %}
        <p>{{ feilmelding }}</p>
    {% endif %}

    {% if plot_path %}
        <h2>Results:</h2>
        <iframe src="{{ url_for('static', filename=plot_path) }}" width="100%" height="600" frameborder="0"></iframe>
    {% endif %}
</body>
</html>
