<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Names | Home</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <!-- CSS files -->
    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body>
    <!-- Header section -->
    <header class="section header">
        <div class="header-logo">
            <h2 style="font-size: 50px;">A</h2>
            <div class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="header-about">
            <h2>About</h2>
            <div class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </header>

    <!-- Main -->
    <main>
        <!-- Intro section -->
        <section class="section intro content-wrapper">
            <div class="intro-headline">
                <h1>
                    Name
                    <br>
                    lab.
                </h1>
            </div>
            <div class="intro-description">
                <h2>
                    Discover which names 
                    <br>
                    are rising, fading
                    <br>
                    or making a comeback!
                </h2>
            </div>
        </section>

        <!-- Search section -->
        <section class="section search content-wrapper">
            <form class="input-and-button-container" id="search-form">
                <input type="text" id="name-search" name="name-search" class="search-input" placeholder="Search for a name" required>
                <button type="button" class="clear-button" aria-label="Clear search">&times;</button>
                <button type="submit" class="search-button">Go!</button>
            </form>
        </section>

        <!-- Visualization menu -->
        <section class="section visual-nav content-wrapper">
            <div class="visual-button-container">
                <button class="visual-button active" data-visual="trend">Trend Over Time</button>
                <button class="visual-button" data-visual="top10">Top 10 Names</button>
                <button class="visual-button" data-visual="rising">Fastest Rising Names</button>
                <button class="visual-button" data-visual="total">Total Named Individuals</button>
                <button class="visual-button" data-visual="prefix">Names Starting With ...</button>
            </div>
        </section>

        <!-- Year control section -->
        <section class="section year-controls content-wrapper">
            <div id="year-inputs">
                <!-- JavaScript handles this logic -->
            </div>
        </section>

        <!-- Results section -->
        <section class="setion chart-results content-wrapper">
            <div id="charts-container">
                <!-- Flask will return HTML for one or more charts here -->
            </div>
        </section>
    </main>

<!-- JS scripts -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>